body {
	background-image: url(../assets/img/fondo.jpg);
}


img {
	border-radius: 5%;
}

.navbar {
	background-color: #c5b475;
}

.navbar-nav a {
	font-family: Questrial;
}



h1,h2,p {
	font-family: Questrial;
	font-weight: bold;
	
}

.quienes-somos {
	background-color: #fdfdeb;
	border-radius: 5%;
}

.contactoTit {
	color: #fdfdeb;
}

footer {
	background-color: #fdfdeb;
}

.logo-gaia {
	width: 9%;
}

.wpp-inf,.ing-inf,.gmail-inf {
	width: 3%;
}
