body {
  background-image: url(../assets/img/fondo.jpg); }

.img {
  border-radius: 1em; }

h1, h2, h3, h3, p {
  font-family: Questrial; }

h1, h2, h3, h3 {
  font-weight: bold; }

h1 a {
  text-decoration: none;
  color: white; }

.btn {
  font-family: Questrial;
  font-weight: bold; }

.card {
  border-radius: 5%;
  background-color: #fdfdeb; }

@media only screen and (max-width: 768px) {
  .cardSpace {
    margin-bottom: 5%; } }

/*==========================================--*/
/*--MENSAJE BIENVENIDA GENERAL--*/
/*--======================================--*/
@media only screen and (max-width: 768px) {
  main {
    margin: 5%; }
    main h1 {
      font-weight: bold;
      font-size: 2rem;
      margin-top: 15%; }
    main p {
      display: none; } }

@media only screen and (min-width: 1024px) {
  main {
    margin: 15%; }
    main h1 {
      font-family: Questrial;
      font-weight: bolder;
      font-size: 2rem; }
    main p {
      width: 55%;
      font-size: 1rem;
      margin-top: 3%; } }

/*--========================================--*/
/*--CIERRE MENSAJE BIENVENIDA GENERAL--*/
/*--========================================--*/
.navbar {
  background-color: #c5b475; }
  .navbar .logo-nav {
    width: 35%; }
  .navbar .navbar-nav li {
    transition: all .5s; }
    .navbar .navbar-nav li a {
      font-family: Questrial;
      font-weight: bold; }
    .navbar .navbar-nav li:hover {
      transform: scale(1.1, 1.1); }
  .navbar .navbar-toggler {
    color: white; }

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 0%; }
    .navbar #navbarNav {
      display: flex;
      justify-content: flex-end;
      padding: 10% 40% 0% 0%; }
    .navbar .navbar-brand {
      padding-left: 40%;
      margin: 0%; }
    .navbar .logo-nav {
      width: 12.5%; } }

footer {
  background-color: #fdfdeb; }
  footer div p {
    display: none; }
  footer div h4 {
    font-size: 1rem;
    margin-top: 3%;
    margin-left: 1%; }
  footer div .logo-gaia {
    width: 50%;
    margin-bottom: 2%; }
  footer div .wpp-inf, footer div .ing-inf, footer div .gmail-inf {
    width: 15%; }

@media only screen and (min-width: 1024px) {
  footer {
    background-color: #fdfdeb; }
    footer div p {
      display: inline;
      font-weight: bolder;
      font-family: Questrial; }
    footer div h4 {
      font-size: 1.5rem;
      margin-top: 4%;
      margin-left: 1%; }
    footer div .logo-gaia {
      width: 9%; }
    footer div .wpp-inf, footer div .ing-inf, footer div .gmail-inf {
      width: 3%; } }

/*--======================================--*/
/*--CAROUSEL INDEX--*/
/*--======================================--*/
.productTit {
  text-align: center;
  font-weight: bold; }
  .productTit .text-white {
    text-decoration: none;
    transition: all; }
    .productTit .text-white:hover {
      transform: scale(1.1, 1.1); }
  .productTit a {
    text-decoration: none;
    color: white; }

@media only screen and (min-width: 1024px) {
  .productTit {
    text-align: center;
    font-weight: bold;
    margin-top: 3%; }
    .productTit .text-white {
      transition: all .5s; }
      .productTit .text-white:hover {
        transform: scale(1.1, 1.1); }
    .productTit a {
      text-decoration: none;
      color: white; }
  .carousel-product {
    display: flex;
    justify-content: center; }
    .carousel-product #carouselExampleControls {
      width: 55%; } }

/*--======================================--*/
/*--CIERRE CAROUSEL INDEX--*/
/*--======================================--*/
/*--QUIENES SOMOS INDEX--*/
/*--======================================--*/
@media only screen and (max-width: 768px) {
  .quienes-somos {
    background-color: #fdfdeb; }
    .quienes-somos .quienes-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .quienes-somos .quienes-text a {
        text-decoration: none;
        color: black; }
    .quienes-somos .quienes-img img {
      width: 100%;
      margin-bottom: 5%; } }

@media only screen and (min-width: 1024px) {
  .quienes-somos article {
    background-color: #fdfdeb;
    margin: 0% 10% 0% 10%;
    border-radius: 2%; }
    .quienes-somos article .quienes-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      padding: 3% 1% 3% 5%; }
      .quienes-somos article .quienes-text h2 {
        transition: all .5s; }
        .quienes-somos article .quienes-text h2:hover {
          transform: scale(1.1, 1.1); }
      .quienes-somos article .quienes-text a {
        text-decoration: none;
        font-weight: bolder;
        color: black; }
    .quienes-somos article .quienes-img img {
      width: 80%;
      margin: 10% 5% 10% 2%; } }

/*--======================================--*/
/*--CIERRE QUIENES SOMOS INDEX--*/
/*--======================================--*/
/*--CONTACTO INDEX*/
/*========================================--*/
.contactStyle #contactIndex {
  text-align: center;
  color: #fdfdeb;
  font-size: 1.5rem;
  padding-top: 3%;
  padding-bottom: 3%;
  transition: all .5s; }
  .contactStyle #contactIndex:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer; }

.contactStyle a {
  text-decoration: none; }

.contactImg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2% 8% 2% 8%; }
  .contactImg img {
    transition: all 1s; }
    .contactImg img:hover {
      transform: scale(1.1, 1.1); }

/*--======================================--*/
/*--CIERRE CONTACTO INDEX*/
/*========================================--*/
.imgProd {
  width: 95%; }

.btn {
  width: 100%; }

.prodDescrip {
  background-color: #fdfdeb;
  border-radius: 5%;
  width: 95%; }

@media only screen and (min-width: 1024px) {
  #tituloGenProd {
    margin: 5%; }
  .imgProd {
    width: 40%; }
  .formCompra {
    display: flex;
    justify-content: flex-end; }
    .formCompra a {
      width: 20%; }
  .formCant {
    display: flex;
    justify-content: flex-start; }
    .formCant .form-select {
      width: 15%; }
  .prodDescrip {
    width: 50%;
    background-color: #fdfdeb; } }

.quienesIntroP {
  display: inline; }

.presOwner1, .presOwner2 {
  background-color: #e6dead;
  border-radius: 4%;
  width: 95%; }

.video iframe {
  width: 100%;
  border-radius: 5%; }

.textVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

@media only screen and (min-width: 1024px) {
  .presOwner1, .presOwner2 {
    background-color: #e6dead;
    border-radius: 1em;
    width: 50%; }
  .presOwner2 {
    background-color: #e6dead;
    border-radius: 1em;
    width: 50%; }
  .contVideoText {
    display: flex;
    justify-content: center; }
    .contVideoText .rowVideoText {
      width: 50%;
      background-color: #c5b475;
      border-radius: 1em; }
  .video {
    display: flex;
    justify-content: flex-end;
    margin-top: 10%; }
    .video iframe {
      width: 100%;
      border-radius: 1em; } }

.form-label, .form-control {
  font-family: Questrial;
  font-weight: bolder;
  color: white; }

.form-check-label {
  font-family: Questrial;
  color: white; }

.row-form {
  width: 100%; }

.contactStyle h2 {
  text-align: center;
  color: #fdfdeb;
  font-size: 1.5rem;
  padding-top: 3%;
  padding-bottom: 3%; }

@media only screen and (min-width: 1024px) {
  .form-label, .form-control {
    font-family: Questrial;
    font-weight: bolder;
    color: white;
    width: 100%; }
  .form-check-label {
    font-family: Questrial;
    color: white; }
  .row-form {
    width: 35%; }
  .contactStyle h2 {
    text-align: center;
    color: #fdfdeb;
    font-size: 1.5rem;
    padding-top: 3%;
    padding-bottom: 3%; } }
