/*==========================================--*/
/*--ESTILOS GENERALES--*
/*==========================================--*/


body {
	background-image: url(../assets/img/fondo.jpg);
}

img {
	border-radius: 5%;
}

h1,h2,h3,h3,p {
	font-family: Questrial;
}

h1,h2,h3,h3 {
	font-weight: bold;
}

h1 a {
	text-decoration: none;
	color: white;
}

.btn {
	font-family: Questrial;
	font-weight: bold;
}

/*--========================================--*/
/*--NAVBAR GENERAL--/*
/*--========================================--*/

.navbar {
	background-color: #c5b475;
}

.logo-nav {
	width: 35%;
}

.navbar-nav li a {
	font-family: Questrial;
	font-weight: bold;
}

.navbar-toggler {
	color: white;
}

nav ul li {
	transition: all .5s;
}

nav ul li:hover {
	transform: scale(1.1,1.1);
}

@media only screen and (min-width: 1024px){
	.navbar {
		padding: 0%;
	}

	#navbarNav {
		display: flex;
		justify-content: flex-end;
		padding: 10% 40% 0% 0%;
	}

	.navbar-brand {
		padding-left: 40%;
		margin: 0%;
	}

	.logo-nav {
		width: 12.5%;
	}
}

/*========================================*/
/*--CIERRE NAVBAR GENERAL--/*
/*==========================================--*/
/*--MENSAJE BIENVENIDA GENERAL--*/
/*--======================================--*/
@media only screen and (max-width: 768px){
	main {
		margin: 5%;
	}

	main h1 {
		font-weight: bold;
		font-size: 2rem;
		margin-top: 15%;
	}

	main p {
		display: none;
	}
}

@media only screen and (min-width: 1024px){
	main {
		margin: 15%;
	}


	main h1 {
		font-family: Questrial;
		font-weight: bold;
		font-size: 2rem;	
	}

	main p {
		width: 55%;
		font-size: 1rem;
		margin-top: 3%;
	}
}

/*--========================================--*/
/*--CIERRE MENSAJE BIENVENIDA GENERAL--*/
/*--========================================--*/
/*--FOOTER GENERAL--*/
/*========================================--*/
footer {
	background-color: #fdfdeb;
}

footer div p {
	display: none;
}

footer div h4 {
	font-size: 1rem;
	margin-top: 3%;
	margin-left: 1%;
}

.logo-gaia {
	width: 50%;
	margin-bottom: 2%;
}

.wpp-inf,.ing-inf,.gmail-inf {
	width: 15%;
}


@media only screen and (min-width: 1024px){
	footer {
		background-color: #fdfdeb;
	}

	footer div p {
		display: inline;
		font-weight: bold;
	}

	footer div h4 {
		font-size: 1.5rem;
		margin-top: 4%;
		margin-left: 1%;
	}

	.logo-gaia {
		width: 9%;
	}

	.wpp-inf,.ing-inf,.gmail-inf {
		width: 3%;
	}

}
/*========================================--*/	
/*--CIERRE FOOTER GENERAL--*/
/*==========================================--*/
/*--CIERRE ESTILOS GENERALES--*
/*==========================================--*/
/*--PAGE INDEX--*/
/*--======================================--*/
/*--CAROUSEL INDEX--*/
/*--======================================--*/
.productTit {
	text-align: center;
	font-weight: bold;
}

.text-white {
	text-decoration: none;
	transition: all;
}

.text-white:hover {
	transform: scale(1.1,1.1);
}

.productTit a {
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 1024px){
	.productTit {
		text-align: center;
		font-weight: bold;
		margin-top: 3%;
	}

	.text-white {
		transition: all .5s;
	}

	.text-white:hover {
		transform: scale(1.1,1.1);
	}

	.productTit a {
		text-decoration: none;
		color: white;
	}

	.carousel-product {
		display: flex;
		justify-content: center;
	}

	#carouselExampleControls {
		width: 55%;
	}
}


/*--======================================--*/
/*--CIERRE CAROUSEL INDEX--*/
/*--======================================--*/
/*--QUIENES SOMOS INDEX--*/
/*--======================================--*/
@media only screen and (max-width: 768px){
	.quienes-somos {
		background-color: #fdfdeb;
	}

	.quienes-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.quienes-text a {
		text-decoration: none;
		color: black;
	}

	.quienes-img img{
		width: 100%;
		margin-bottom: 5%;
	}

}

@media only screen and (min-width: 1024px){
	.quienes-somos article {
		background-color: #fdfdeb;
		margin: 0% 10% 0% 10%;
		border-radius: 2%;
	}

	.quienes-text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		padding: 3% 1% 3% 5%;
	}

	.quienes-text h2 {
		transition: all .5s;
	}

	.quienes-text h2:hover {
		transform: scale(1.1,1.1);
	}

	.quienes-text a {
		text-decoration: none;
		color: black;
	}

	.quienes-img img{
		width: 80%;
		margin: 10% 5% 10% 2%;
	}
}	

/*--======================================--*/
/*--CIERRE QUIENES SOMOS INDEX--*/
/*--======================================--*/
/*--CONTACTO INDEX*/
/*========================================--*/

.contactStyle h2 {
	text-align: center;
	color: #fdfdeb;
	font-size: 1.5rem;
	padding-top: 3%;
	padding-bottom: 3%;
	transition: all .5s;
}

.contactStyle a {
	text-decoration: none;
}

#contactTit h2:hover {
	transform: scale(1.1,1.1);
	cursor: pointer;
}

.contactImg {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 2% 8% 2% 8%;
}

.contactImg img {
	transition: all 1s;
}

.contactImg img:hover {
	transform: scale(1.1,1.1);
}


/*========================================--*/
/*--CIERRE CONTACTO INDEX*/
/*========================================--*/	
/*--CIERRE PAGE INDEX--*/
/*========================================--*/	
/*--PAGE PRODUCT LIST--*/
/*========================================--*/

.card {
	border-radius: 5%;
	background-color: #fdfdeb;
}

@media only screen and (max-width: 768px){
	.cardSpace {
		margin-bottom: 5%;
	}
}

/*========================================--*/	
/*--CIERRE PAGE PRODUCT LIST--*/
/*========================================--*/
/*--SETTINGS PRODUCT PAGES--*/
/*========================================--*/

.imgProd {
	width: 95%;
}

.btn {
	width: 100%;
}

.prodDescrip {
	background-color: white;
	border-radius: 5%;
	width: 95%;
}

@media only screen and (min-width: 1024px){

	#tituloGenProd {
		margin: 5%;
	}

	.imgProd {
		width: 40%;
	}

	form.formCompra {
		display: flex;
		justify-content: flex-end;

	}

	.formCompra a.btn {
		width: 20%;
	}

	.formCant {
		display: flex;
		justify-content: flex-start;
	}

	.form-select {
		width: 15%;
	}

	.prodDescrip {
		width: 50%;
	}

}

/*========================================--*/
/*--CIERRE SETTINGS PRODUCT PAGES--*/
/*========================================--*/
/*--PAGE QUIENES SOMOS--*/
/*========================================--*/
.quienesIntroP {
	display: inline;
}

.presRowD {
	background-color: #e6dead;
	border-radius: 4%;
	width: 95%;
}

.presRowM {
	background-color: #e6dead;
	border-radius: 4%;
	width: 95%;
}

.video iframe {
	width: 100%;
	border-radius: 5%;
}

.textVideo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

@media only screen and (min-width: 1024px){
	.presRowD {
		background-color: #e6dead;
		border-radius: 4%;
		width: 50%;
	}

	.presRowM {
		background-color: #e6dead;
		border-radius: 4%;
		width: 50%;
	}

	.contVideoText {
		display: flex;
		justify-content: center;
	}

	.rowVideoText {
		width: 50%;
		background-color: #c5b475;
		border-radius: 5%;
	}

	.video iframe {
		width: 100%;
		border-radius: 5%;
	}

	.video {
		display: flex;
		justify-content: flex-end;
		margin-top: 10%;
	}
}

/*========================================--*/
/*--CIERRE PAGE QUIENES SOMOS--*/
/*========================================--*/
/*--PAGE CONTACTO--*/
/*========================================--*/
.form-label,.form-control{
	font-family: Questrial;
	font-weight: bold;
	color: white;
}

.form-check-label {
	font-family: Questrial;
	color: white;
}

.row-form {
	width: 100%;
}

@media only screen and (min-width: 1024px){

	.form-label,.form-control{
		font-family: Questrial;
		font-weight: bold;
		color: white;
		width: 100%;
	}

	.form-check-label {
		font-family: Questrial;
		color: white;
	}


	.row-form {
		width: 35%;
	}
}
/*========================================--*/
/*-- CIERRE PAGE CONTACTO--*/
/*========================================--*/