.navbar {
	background-color: $color-hard;
	.logo-nav {
		width: 35%;
	}
	.navbar-nav {
		li {
			transition: all .5s;
			a {
			font-family: map-get($estilo, fuente);
			font-weight: bold;
			}
			&:hover {
				transform: scale(1.1,1.1);
			}
		}
	}
	.navbar-toggler {
	color: white;
	}	
}

@media only screen and (min-width: 1024px){
	.navbar {
		padding: 0%;
			#navbarNav {
			display: flex;
			justify-content: flex-end;
			padding: 10% 40% 0% 0%;
		}
			.navbar-brand {
			padding-left: 40%;
			margin: 0%;
		}
			.logo-nav {
			width: 12.5%;
		}	
	}
}
